<!DOCTYPE html>
<html>
    <head>
    <title>Final Project Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/catalog.js"></script>
</head>
<nav>
    <a href="/"> Home<a>
    <a href="/login">Login</a>
    <a href="/catalog">Catalog</a>
    <a href="/cart">Cart</a>
</nav>