<!DOCTYPE html>
<html>
    <head>
    <title>Final Project Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/functions.js"></script>
</head>
   <a href="/"> Home<a>
   <br>
  <a href="/login">Login</a>
  
  