<%- include('partials/header.ejs') %>

    
   <h1>Table Results</h1>
   <h2>I'm in admins</h2>
   
   
               <table>
        <tr>
            <th>Username</th>
            <th>Hashed Password</th>
        </tr>
        <tr>
    
   <% 
       //displaying five keywords per line
      rows.forEach(function(row, i){ %>
       
        <td><%= row["username"] %></td>
        <td><%= row["password"]%></td>
    </tr>
    <% });%>
</table>

<%- include('partials/footer.ejs') %>
