<%- include ('partials/header.ejs') %>
<body>
    <main>
        <h1>DatabaseTest</h1>
        
        <form action="/admins">
            <br><br>
            <button>Show admins</button>
        </form>
        <form action="/favorites">
            <br><br>
            <button>Show favorites</button>
        </form>
        <form action="/inventory">
            <br><br>
            <button>Show inventory</button>
        </form>
                <form action="/search">
            <br><br>
            <button>Show Products!</button>
        </form>
        <br><br>
        
    </main>
<%- include ('partials/footer.ejs') %>