<%- include('partials/header.ejs') %>

    
   <h1>Table Results</h1>
   <h2>I'm in Inventory</h2>
    <table>
        <tr>
            <th>Make</th>
            <th>Quantity</th>
        </tr>
        <tr>
   <%rows.forEach(function(row, i){ %>
       
        <td><%= row["make"] %></td>
        <td><%= row["quantity"]%></td>
    
    </tr>
    <% });%>
    </table>

<%- include('partials/footer.ejs') %>
